[submodule "samples/30-seconds-of-java8"]
	path = samples/30-seconds-of-java8
	url = https://github.com/hellokaton/30-seconds-of-java8.git
[submodule "samples/Mapper"]
	path = samples/Mapper
	url = https://github.com/abel533/Mapper.git
[submodule "samples/druid"]
	path = samples/druid
	url = https://github.com/MundaneImmortal/druid.git
[submodule "samples/cloudstack"]
	path = samples/cloudstack
	url = https://github.com/rRajivramachandran/cloudstack.git
